#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

th {
  padding: 0 4rem;
}

form {
  max-width: 400px;
  display: grid;
  gap: 1rem;
}

form > div{
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

form > div > label {
  text-align: right;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
  transform: scale(2);
}

.modal {
  display: grid;
  place-items: center;
  margin-top: 2rem;
}

.modal-content {
  padding: 2.2rem;
  position: relative;
  border: 2px solid #000;
  background-color: lightgray;
  border-radius: 10px;
  color: black;
}